[submodule "submodules/codex"]
	path = submodules/codex
	url = https://github.com/openai/codex.git
[submodule "submodules/CraneSched"]
	path = submodules/CraneSched
	url = https://github.com/PKUHPC/CraneSched.git
